.th-placement:hover .th-d-splash-page-item{
  opacity: 0.7;
}
.th-placement .th-d-splash-page-item:hover{
  opacity: 1;
}
/******* background popup **********/
.sign-up__wrapper{
    background-image: url(https://tommymx.vteximg.com.br/arquivos/190821-TH-PopUpAgosto.png) !important;
}