a#rebajas{
    color:#cc0c2f;
}
.flag:nth-child(1), .flag:nth-child(2){
    padding: 8px 8px;
}
.product-item__flags--discounts .flag[class*="5"], .product-item__flags--discounts .flag[class*="10"], .product-item__flags--discounts .flag[class*="12"], .product-item__flags--discounts .flag[class*="15"], .product-item__flags--discounts .flag[class*="20"], .product-item__flags--discounts .flag[class*="25"], .product-item__flags--discounts .flag[class*="30"], .product-item__flags--discounts .flag[class*="35"], .product-item__flags--discounts .flag[class*="40"], .product-item__flags--discounts .flag[class*="45"], .product-item__flags--discounts .flag[class*="50"], .product-item__flags--discounts .flag[class*="55"], .product-item__flags--discounts .flag[class*="60"], .product-item__flags--discounts .flag[class*="65"], .product-item__flags--discounts .flag[class*="70"], .product-item__flags--discounts .flag[class*="75"], .product-item__flags--discounts .flag[class*="80"], .product-item__flags--discounts .flag[class*="85"], .product-item__flags--discounts .flag[class*="90"], .product-item__flags--discounts .flag[class*="95"], .product-item__flags--discounts .flag[class*="100"]{
    background-color:rgba(204,12,47,.8);
    color: #fff;
    left: 0;
    visibility: visible;
}
.flag:nth-child(1){
    bottom: 0px;
    top: unset;
}
/* STYLE ONLY FOR BF*/
.flag:nth-child(2){
    bottom: 0px;
    top: unset;
    left: 68px !important;
}
/* STYLE ONLY FOR BF*/
.valor-de + .valor-por{
    color: #cc0c2f !important;
}
.flag{
    visibility: hidden;
    display: unset
}
#axo .flag{
    visibility: hidden;
}
/*#axo .flag[class*="2x1"]{
    display: none;
}*/
#axo-collect .flag[class*="2x1"]{
    visibility: hidden;
    
}
/* begin patch for vicom style*/
.flag[class*=new], .flag[class*=nuevo] { 
    opacity: 1;
}
.flag[class*=nuevocoleccion] { 
    opacity: 0;
}
/* end patch for vicom style */
#axo .flag[class*="new"]::before, #axo .flag[class*="nuevo"]::before{
    content: 'Nuevo';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 14px;
    background-color: rgba(0,23,79,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}
#axo .flag[class*="exclusiva"]::before{
    content: 'EXCLUSIVA';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    background-color: rgba(0,23,79,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}
img[alt*="SUDADERA-LEWIS-HAMILTON-EDICION-ESPECIAL---Tommy-Hilfiger"] ~ #flag-exclusive::after {
   content: 'EXCLUSIVO';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    background-color: rgba(0,23,79,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}
#axo .flag[class*="proximamente"]::before{
    content: 'PRÃ“XIMAMENTE';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    background-color: rgba(0,23,79,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}
img[alt*="TOMMY-BOW-PEACH-50-ML--Tommy-Hilfiger"] ~ #flag-exclusive::after {
   content: 'PRECIO ESPECIAL';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    background-color: rgba(204,12,47,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}
img[alt*="TOMMY-BOW-PEAR-50-ML--Tommy-Hilfiger"] ~ #flag-exclusive::after {
   content: 'PRECIO ESPECIAL';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    background-color: rgba(204,12,47,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}
#axo .flag[class*="lanzamiento"]::before{
    content: 'LANZAMIENTO';
    position: absolute;
    text-transform: uppercase;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    text-align: left;
    font-size: .8em;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    background-color: rgba(0,23,79,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;
}

#categoriesMobile{
    display: none;
}
@font-face {
    font-family: 'FuturaSTD-Book';
    src: url("https://tommymx.vteximg.com.br/arquivos/Futura-Std-Book.eot.css?v=191015-1225");
    src: url("https://tommymx.vteximg.com.br/arquivos/Futura-Std-Book.eot.css?v=191015-1225?#iefix") format("embedded-opentype"), url("https://tommymx.vteximg.com.br/arquivos/Futura-Std-Book.woff2.css?v=191015-1225") format("woff2"), url("https://tommymx.vteximg.com.br/arquivos/Futura-Std-Book.woff.css?v=191015-1225") format("woff"), url("https://tommymx.vteximg.com.br/arquivos/Futura-Std-Book.ttf.css?v=191015-1225") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'FuturaSTD-Bold';
    src: url("https://tommymx.vteximg.com.br/arquivos/FuturaPT-Bold.eot.css?v=190820-0205");
    src: url("https://tommymx.vteximg.com.br/arquivos/FuturaPT-Bold.eot.css?v=190820-0205?#iefix") format("embedded-opentype"), url("https://tommymx.vteximg.com.br/arquivos/FuturaPT-Bold.woff2.css?v=190820-0205") format("woff2"), url("https://tommymx.vteximg.com.br/arquivos/FuturaPT-Bold.woff.css?v=190820-0205") format("woff"), url("https://tommymx.vteximg.com.br/arquivos/FuturaPT-Bold.ttf.css?v=190820-0205") format("truetype"), url("https://tommymx.vteximg.com.br/arquivos/FuturaPT-Bold.svg.css?v=190820-0205#FuturaPT-Bold") format("svg");
    font-weight: 700;
    font-style: normal
}
.zEWidget-launcher{
    bottom: -10px !important;
}
.wrapper-payment-white {
    background-image: url(https://tommymx.vteximg.com.br/arquivos/LOGO-PAGOS-BLANCOv4.png);
    height: 44px;
    background-size: contain;
    background-repeat: no-repeat;
}
.paymentMob{
      display: none;
}
@media screen and (max-width: 1023px) {
   .paymentMob{
      display: block;
   }
   .paymentDesk{
      display: none;
   }
   .wrapper-payment-white {
      width: 160px;
   }
}
@media screen and (max-width: 767px){
    
    #productsSlider03 .slick-track .outer{
        margin-right: 5px;
        margin-left: 5px;
    }
    .th-central{
        padding: 0 !important;
    }
}
.overlay-wishlist{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(204, 12, 47, .7);
    display: none;
    transition: 2s ease;
}
.ovrlay-text{
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 50%;
    display: block;
    top: 45%;
    position: relative;
    font-weight: bold;
}
#axo .flag[class*="2x1"]::before {
    content: '2x1' !important;
    padding: 0.7rem 1.2rem !important;
    /* letter-spacing: 3px; */
    background-color: rgba(204, 12, 47, .7) !important;
    /* font-size: 1rem; */
    font-size: 0.9rem;
    visibility: visible;
    bottom: 0;
    position: absolute;
    font-weight: 700;
    left: 0;
    color: #fff;
    z-index: 3;
}
#axo .flag[class*="3x2"]::before {
    content: '3x2' !important;
    padding: .8rem 1.2rem !important;
    letter-spacing: 3px;
    background-color: rgba(204, 12, 47, .7) !important;
    font-size: 1rem;
}
@media screen and (min-width: 1023px) {
    .site-nav .clothesColumn{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
        -moz-column-gap: 50px; /* Firefox */
        column-gap: 50px;
   }
}
.product-item__color.dorado, fieldset.filtro_color label.sr_dorado::before, .product-detail__sku-selection .topic.Color .select.skuList label[class*="_Dorado"], .product-detail__color-variations .product-detail__color-link li.dorado, .product-modal .color.dorado {
    background-color: #F2F5A9 !important;
}
.product-item__color.verde-olivo, fieldset.filtro_color label.sr_verde-olivo::before, .product-detail__sku-selection .topic.Color .select.skuList label[class*="_Verde-olivo"], .product-detail__color-variations .product-detail__color-link li.verde-olivo, .product-modal .color.verde-olivo {
    background-color: #2E3B0B !important;
}
.product-item__color.azul-mezclilla, fieldset.filtro_color label.sr_azul-mezclilla::before, .product-detail__sku-selection .topic.Color .select.skuList label[class*="_Azul-mezclilla"], .product-detail__color-variations .product-detail__color-link li.azul-mezclilla, .product-modal .color.azul-mezclilla {
    background-color: #0B3861 !important;
}
.folder.h-c #h1_name, .folder.looney #h1_name{
    visibility:hidden;
}
.folder.h-c #h1_name::after{
    visibility:visible;
    display:block;
    content:'Hilfiger Collection';
}
.folder.looney #h1_name::after{
    visibility:visible;
    display:block;
    content:'TOMMY JEANS X LOONEY TUNES';
}
.fathers #h1_name {
    visibility:hidden;
}
.fathers #h1_name:after{
    content:'PARA PAPÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â';
    visibility:visible;
    display:block;
}


.icon-oxxo-color {
    width: 50px;
    height: 24px;
    background-position: 0px -265px;
}
@media screen and (min-width: 768px) {
  .icon-oxxo-color { background-position: 0px -265px; }
}
@media screen and (min-width: 1024px) {
  .icon-oxxo-color { background-position: 0px -265px; }
}
@media screen and (min-width: 1440px) {
  .icon-oxxo-color { background-position: 0px -265px; }
}

/* STYLES FOR SHOP BY CAT V2 */

.shopByContainer{
    padding-bottom: 50px;
}
.shopByCat {
    display: flex;
}
.shopByCat .catItem:not(:last-child) {
    margin-right: 0.54%;
}
.ShopByTitle {
    font-family: "Futura", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.catItem {
    position: relative;
    overflow: hidden;
}
.itemBackground {
    height: 100%;
    transition: all 0.5s linear;
}
.catItem:hover .itemBackground {
    transform: scale(1.05);
}
.itemBackground img {
    position: static;
    height: 100%;
    display: block;
    min-height: 1px;
    min-width: 1px;
    pointer-events: none;
    width: 100%;
    vertical-align: middle;
}
.ctaCat {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    width: 100%;
}
.nameCat {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    pointer-events: none;
    transition: all 0.3s ease-out;
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.nameCat span {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}
@media screen and (max-width: 1023px) {
    .shopByContainer{
        padding-bottom: 25px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .shopByCat {
        flex-flow: row wrap;
    }
    .ShopByTitle {
        display: none;
    }
    .catItem {
        margin-bottom: 1.88%;
    }
    .catItem:nth-child(1) {
        order: 1;
        flex: 1 1 calc(50% - 0.5rem);
        margin-right: 1.88% !important;
    }
    .catItem:nth-child(2) {
        order: 3;
        flex: 1 1 100%;
    }
    .catItem:nth-child(3) {
        order: 2;
        flex: 1 1 calc(50% - 0.5rem);
    }
    .nameCat span {
        font-size: 16px;
    }
    #axo-collect .flag[class*="bogo-15--off"]::after{
        width: 130px !important;
        font-size: .7rem !important;
    }
    #cintilloPopTop{
        overflow: hidden;
    }
}
#axo-collect.product-item__flags--discounts .flag[class*="bogo-15--off"]{
    visibility:hidden;
    content:'';
}
#axo-collect .flag[class*="bogo-15--off"]::after{
    content: '15% OFF EN LA SEGUNDA PRENDA';
    position: absolute;
    text-transform: uppercase;
    width: 230px;
    left: 0;
    bottom: 0;
    text-align: left;
    font-size: .82rem;
    font-family: Futura,Calibri,sans-serif;
    font-weight: 700;
    padding: 8px 14px;
    background-color: rgba(204,12,47,.8);
    z-index: 3;
    color: #fff;
    visibility: visible;    
}
.product-item__flags--discounts .flag[class*="12"]{
    display: block;
    position: absolute;
    left: 2%;
    z-index: 1;
    border: 1px solid #cc0c2f;
    font-family: "Futura",sans-serif;
    font-size: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    color: #fff;
}
.flag[class*="12"]:after {
    content: "-12%";
}
.product-item__flags--discounts .flag[class*="12"]:after{
    display: inline-block;
    padding: .25em .5em .1em;
    font-size: 10.8pt;
    font-size: 0.9rem;
    line-height: 1;
}