/********  Fit jeans ********/
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item:not(:last-child){
        margin-right: 10px;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item{
    position: relative;
    display: inline-block;
    width: 233px;
    height: 301px;
}
.th-placement .th-background{

    background-color: #fff;
}
.th-placement .th-d-denim-fit-guide-extended-carousel *{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.th-placement .th-d-img-pos1{
        width: 100%;
}
.th-placement .th-d-img-pos1-link{
        width: 100%;
    height: 100%;
    z-index: 1;
}
.th-placement a{
        background-color: transparent;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.th-placement .th-main-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-link{
    display: none;
}
.th-placement .th-main-wrapper-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    padding: 0 20px 20px;
    transform: translateY(100%) translateY(-36px);
    transition: all .3s ease-out 0s;
    will-change: transform;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .slug{
    display: block;
    width: 100%;
    max-height: 196px;
    margin-bottom: 15px;
    line-height: 20px;
    overflow: hidden;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .largeTitle{
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Futura,Helvetica,Arial,sans-serif;
    height: 36px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .58px;
    color: #fff;
    flex-grow: 1;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .th-mask-color{
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: calc(100%   8px);
    width: 100%;
    background-color: rgba(0,23,79,.8);
    z-index: -1;
    transition: all .3s ease-out 0s;
    will-change: transform;
    pointer-events: all;
    cursor: pointer;
}
.th-placement .th-d-denim-fit-guide-extended-carousel *{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    padding: 0 20px 20px;
    transform: translateY(100%) translateY(-36px);
    transition: all .3s ease-out 0s;
    will-change: transform;
}
.th-placement .th-d-img-pos1{
        width: 100%;
}
.th-placement .th-d-img-pos1-link{
        width: 100%;
    height: 100%;
    z-index: 1;
}
.th-placement a{
        background-color: transparent;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.th-placement .th-main-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-link{
    display: none;
}
.th-placement .th-main-wrapper-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    padding: 0 20px 20px;
    transform: translateY(100%) translateY(-36px);
    transition: all .3s ease-out 0s;
    will-change: transform;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .slug{
    display: block;
    width: 100%;
    max-height: 196px;
    margin-bottom: 15px;
    line-height: 20px;
    overflow: hidden;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .largeTitle{
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Futura,Helvetica,Arial,sans-serif;
    height: 36px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .58px;
    color: #fff;
    flex-grow: 1;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .th-mask-color{
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: calc(100% + 8px);
    width: 100%;
    background-color: rgba(0,23,79,.8);
    z-index: -1;
    transition: all .3s ease-out 0s;
    will-change: transform;
    pointer-events: all;
    cursor: pointer;
}
.th-placement .th-d-denim-fit-guide-extended-carousel *{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    padding: 0 20px 20px;
    transform: translateY(100%) translateY(-36px);
    transition: all .3s ease-out 0s;
    will-change: transform;
}
.th-placement .th-d-denim-fit-guide-extended-carousel *{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .th-cta-container{
    order: -1;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: auto;
    pointer-events: all;
}
.th-placement .th-d-denim-fit-guide-extended-carousel-container-inner-items-item .th-d-mcp-textarea .th-main-wrapper-content .th-cta-container .th-cta-wrapper{
    pointer-events: all;
}
.th-placement .th-d-denim-fit-guide-extended-carousel *{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.th-placement .th-cta-wrapper-fw-alignment {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
}
.cm-preview-content .th-cta-wrapper-fw-alignment, .th-placement .th-cta-wrapper-fw-alignment {
    width: 100%;
}
.cm-preview-content .th-cta-btn.ellipsis, .th-placement .th-cta-btn.ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}
.cm-preview-content .th-cta-wrapper-fw-alignment a, .th-placement .th-cta-wrapper-fw-alignment a {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.cm-preview-content .th-cta-btn-glp, .th-placement .th-cta-btn-glp {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: FuturaPT-Bold,RuFuturaPTBold;
    text-align: left;
    padding: 6px 25px;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.cm-preview-content .th-cta-btn-blue-background-white-hover, .th-placement .th-cta-btn-blue-background-white-hover {
    color: #fff;
    background-color: #00174f;
}
.cm-preview-content .th-cta-btn, .th-placement .th-cta-btn {
    position: relative;
    display: block;
    width: max-content;
    padding: 10px;
    transition: color .5s,background-color .5s,border-color .5s;
    font-family: Futura;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    z-index: 2;
}
.cm-preview-content a, .th-placement a {
    background-color: transparent;
}
@media screen and (min-width: 1023px) {
    .site-nav .clothesColumn{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
        -moz-column-gap: 50px; /* Firefox */
        column-gap: 50px;
   }
   .outer{
    margin-right: 5px;
    margin-left: 5px;
    width: 233px !important;
   }
   .slick-track{
    width: unset;
   }
}

/******* fitslider plp **********/
.outer {
  position: relative;
  width: 233px;
  height: 301px;
  overflow: hidden;
}

.inner span {
  position: absolute;
  top: 0;
  text-align: center;
}

.inner {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: rgba(0,23,79,.8);
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(80%);
  transition: transform 300ms;
  height: auto;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  padding: 0 20px 20px;
}

.outer img {
  display: block;
  min-height: 1px;
  min-width: 1px;
  pointer-events: none;
}

.cm-image--responsive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cm-image--responsive {
  width: 100%;
  vertical-align: middle;
}

.titleP {
  position: absolute;
  top: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.outer:hover .inner {
  transform: translateY(0);
}

.th-cta-btn-blue-background-white-hover {
  color: #fff;
  background-color: #00174f;
}

.th-cta-btn {
  position: relative;
  display: block;
  width: max-content;
  padding: 10px;
  transition: color .5s,background-color .5s,border-color .5s;
  font-family: Futura;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  z-index: 2;
  bottom: 0;
}

.inner a {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  bottom: 0;
  text-decoration: none;
}

.th-cta-btn.ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

.title {
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: .58px;
  color: #fff;
  flex-grow: 1;
}

.th-cta-btn {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  padding: 6px 25px;
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.inner .th-cta-wrapper-fw-alignment {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
}

.th-cta-container {
    order: -1;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: auto;
    pointer-events: all;
    font-weight: bold;
}
.th-main-wrapper-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    padding: 0 20px 20px;
    transform: translateY(100%) translateY(-36px);
    transition: all .3s ease-out 0s;
    will-change: transform;
}
.th-cta-btn-blue-background-white-hover:hover {
    color: #00174f;
    background-color: #fff;
}
.th-central{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.th-central{
    margin-left: auto;
    margin-right: auto;
}
.th-central{
    min-width: 240px;
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .th-central{
        width: 94%;
    }
    .outer {
      width: 233px !important;
  }
}
@media screen and (max-width: 479px) and (min-width: 360px){
    .th-central {
        width: 100%;
    }
}
.slick-dots button {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    font-size: 0;
    background-color: #ebebeb;
    cursor: pointer;
}
.products-slider__wrapper--home .fit-slider__container{
  margin-left: auto;
  margin-right: auto;
}